<div class="container">
  <h2 class="header">Create & Link ConfigCat Feature Flag</h2>
  <p>The ConfigCat feature flag you create here will be linked to this monday item.</p>
  @if (!loading) {
    <div>
      @if (authorizationParameters) {
        <app-create-feature-flag
          createButtonLabel="Create and link"
          [authorizationParameters]="authorizationParameters"
          (createInitiated)="add($event)"
          cancelButtonLabel="Go back"
          (cancelInitiated)="cancel()"
          [hideCancelButton]="false" />
      }
    </div>
  }
</div>
