.container {
    margin: 16px;
    
    .mat-mdc-form-field.key {
        margin-bottom: 24px;
    }

    .mat-mdc-form-field.name {
        margin-bottom: 24px;
    }

    .header {
        font-size: 18px;
        margin-top: 16px;

        &.small {
            font-size: 16px;
            margin-top: 18px;
            margin-bottom: 16px;
        }
    }

    .error {
        color: #ff5252;
        margin-bottom: 12px;
    }

    .form {
        .container {

            >* {
                width: 100%;
            }
        }
    }

    .buttons {
        margin-bottom: 16px;

        >* {
            margin-right: 16px;
        }
    }

    mat-form-field {
        width: 100%;
    }
}