<div class="container">
  <div class="header">
    <h2>Create & Link ConfigCat Feature Flag</h2>
    <p>The ConfigCat feature flag you create here will be linked to this monday item.</p>
  </div>
  @if (!loading) {
    <div>
      @if (authorizationParameters) {
        <app-create-feature-flag
          [customize]="getCustomize()"
          [basicAuthUsername]="authorizationParameters.basicAuthUsername"
          [basicAuthPassword]="authorizationParameters.basicAuthPassword"
          (createInitiated)="add($event)"
          (cancelInitiated)="cancel()"
          (componentError)="componentFailed($event)" />
      }
    </div>
  }
</div>
