.container {
    margin: auto;
    width: 70%;
    padding: 10px;

    img {
        max-width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        text-align: center;
    }
}