<div class="container">
  <h1>monday.com - Manage feature flags right from your monday.com board</h1>
  <p>
    The
    <a href="https://monday.com/marketplace/10000079" target="_blank">ConfigCat Feature Flags monday app</a>
    allows you to connect your Monday items and feature flags. Create or link existing flags to your items without
    leaving your monday instance.
  </p>
  <p>
    Turn features On / Off right from a linked item on your Monday board. Modify or add new Targeting or Percentage
    Rules easily to the linked flags.
  </p>
  <p>This guide will help you with the plugin installation and familiarise you with the app usage.</p>

  <h2>Installation</h2>
  <ol>
    <li>
      Install
      <a href="https://monday.com/marketplace/10000079" target="_blank">ConfigCat Feature Flags</a>
      monday.com app to your monday account.
    </li>
    <li>Open one of your boards on monday.com and click on an Item.</li>
    <li>Add the ConfigCat Feature Flags monday app to your Item.</li>
    <li>To use ConfigCat Feature Flags, you have to authorize first with your ConfigCat Public API credentials.</li>
    <li>
      Copy your ConfigCat Public API credentials to the inputs. Read more about
      <a href="https://app.configcat.com/my-account/public-api-credentials" target="_blank">
        ConfigCat Public API credentials here
      </a>
      .
    </li>
    <li>Click authorize.</li>
  </ol>
  <img alt="Installation of the ConfigCat Feature Flags monday app" src="/assets/images/monday_auth.gif" />

  <h2>Usage</h2>
  <h3>Linking existing feature flags</h3>
  <ol>
    <li>Open any item on your monday.com board.</li>
    <li>
      Push
      <code>Link existing feature flag</code>
    </li>
    <li>Select a Product, Config, Environment, and Feature Flag to be linked to your monday.com Item.</li>
    <li>When linked, you can manage the selected feature flag from this monday.com Item.</li>
  </ol>
  <img
    alt="Linking feature flags with the ConfigCat Feature Flags monday.com app"
    src="/assets/images/link_existing_ff.gif" />

  <h3>Creating new feature flags</h3>
  <ol>
    <li>Open any item on your monday.com board.</li>
    <li>
      Push
      <code>Create and link feature flag</code>
    </li>
    <li>Select a Product and a Config where you want to create the feature flag.</li>
    <li>Setup your feature flag.</li>
    <li>Select which environment you would like to link to this Item.</li>
    <li>When linked, you can manage the selected feature flag from this monday.com Item.</li>
  </ol>
  <img alt="Create feature flags with the ConfigCat Feature Flags monday.com app" src="/assets/images/create_ff.gif" />

  <h3>View and Edit linked feature flags</h3>
  <ol>
    <li>Open any item on your monday.com board.</li>
    <li>
      You can see the linked feature flags in the
      <code>Feature Flag (ConfigCat)</code>
      view.
    </li>
    <li>You can manage the selected feature flag from this Item.</li>
    <li>
      You can add new Targeting Rules with User, Segment or Prerequisite conditions with a large selection of
      Comparators.
      <a href="https://configcat.com/docs/targeting/targeting-overview/" target="_blank">Read more about Targeting.</a>
    </li>
    <li>You can add new Percentage Options to Feature Flags or Targeting Rules</li>
    <li>You can remove Targeting Rules as well.</li>
  </ol>
  <img alt="View and Edit linked feature flags in monday.com app" src="/assets/images/edit_ff.gif" />

  <h3>Remove linked feature flags</h3>
  <ol>
    <li>Open any item on your monday.com board with a linked feature flag.</li>
    <li>Remove the linked feature flag by opening the "More menu" and selecting the "Unlink" option.</li>
  </ol>
  <img alt="Remove linked feature flags in monday.com app" src="/assets/images/remove_ff.gif" />

  <h3>View linked items in ConfigCat</h3>
  <ol>
    <li>View the linked Item next to your Feature Flags in ConfigCat and jump to the monday.com Item directly.</li>
  </ol>
  <img alt="Link in Dashboard" src="/assets/images/open_from_dashboard.gif" />
</div>
