<div class="container">
    <h1>monday.com - Manage feature flags right from your monday.com board</h1>
    <p>
        Turn features On / Off right from a linked item on your monday.com board with the <a
            href="https://monday.com/marketplace/10000079" target="_blank" rel="noopener noreferrer">ConfigCat Feature
            Flags</a> monday.com app. Also you can
        add targeting or percentage rules just as easily.
    </p>

    <h2>Installation</h2>
    <img alt="Installation of the ConfigCat Feature Flags monday app" src="/assets/images/monday_auth.gif">
    <ol>
        <li>Install <a href="https://monday.com/marketplace/10000079" target="_blank"
                rel="noopener noreferrer">ConfigCat
                Feature Flags</a> monday.com app to your monday account.
        </li>
        <li>Open one of your boards in monday and click on an item.</li>
        <li>Add the ConfigCat Feature Flags monday app to your item.</li>
        <li>In order to use ConfigCat Feature Flags you have to authorize first with your ConfigCat Public API
            credentials.
        </li>
        <li>Get your ConfigCat Public API credentials: <a
                href="https://app.configcat.com/my-account/public-api-credentials" target="_blank"
                rel="noopener noreferrer">https://app.configcat.com/my-account/public-api-credentials</a>
        </li>
        <li>Click authorize.</li>
    </ol>

    <h2>Usage</h2>
    <h3>Linking existing feature flags</h3>
    <img alt="Linking feature flags with the ConfigCat Feature Flags monday.com app"
        src="/assets/images/monday_link.gif">
    <ol>
        <li>Open any item on your monday board.</li>
        <li>Push <code>Link existing feature flag</code></li>
        <li>Select a Product, Config, Environment and a Feature Flag to be linked to your monday item.</li>
        <li>When linked, you can turn your features On / Off right from this monday item.</li>
        <li>View linked monday items next to your Feature Flags in ConfigCat and jump to the monday item directly.</li>
    </ol>

    <h3>Creating new feature flags</h3>
    <img alt="Create feature flags with the ConfigCat Feature Flags monday.com app"
        src="/assets/images/monday_create.gif">
    <ol>
        <li>Open any item on your monday board.</li>
        <li>Push <code>Create and link feature flag</code></li>
        <li>Select a Product, Config where you want to create the feature flag.</li>
        <li>Setup your feature flag.</li>
        <li>Select which environment would you like to link to this item.</li>
        <li>When linked, you can turn your features On / Off right from this monday item.</li>
        <li>View linked monday items next to your Feature Flags in ConfigCat and jump to the monday item directly.</li>
    </ol>
</div>