.auth {
    padding: 32px;

    h2 {
        padding-left: 8px;
    }

    .tip {
        border: 1px solid rgba(90, 104, 178, 0.3);
        background-color: rgba(90, 104, 178, 0.1);
        border-radius: 5px;
        margin-bottom: 1.4rem;
        padding: 1rem;

        .desc {
            padding-left: 8px;
        }
    }


    .unauthorize {
        margin-top: 24px;
        padding-left: 8px;

        .actions {
            button {
                margin-top: 12px;
                margin-right: 8px;
            }
        }
    }
}