<div class="auth">
    <h2>Authorize ConfigCat Feature Flags</h2>

    <app-loader *ngIf="loading"></app-loader>
    <div *ngIf="!loading">
        <div *ngIf="!authorizationParameters">
            <configcat-authorization (error)="error($event)" (authorized)="login($event)">
            </configcat-authorization>
        </div>
        <div *ngIf="authorizationParameters" class="unauthorize">
            Authorized with: {{authorizationParameters.basicAuthUsername}}
            <div class="actions">
                <button mat-raised-button color="primary" (click)="unauthorize()">Unauthorize</button>
                <button mat-raised-button [routerLink]="['/']">Go to feature flags</button>
            </div>
        </div>
    </div>
</div>