.auth {
    padding: 32px;

    h2 {
        padding-left: 8px;
    }

    .desc{
        padding-left: 8px;
    }

    .unauthorize {
        margin-top: 24px;
        padding-left: 8px;

        .actions {
            button {
                margin-top: 12px;
                margin-right: 8px;
            }
        }
    }
}