<div class="auth">
    <h2>Authorize ConfigCat Feature Flags</h2>

    <app-loader *ngIf="loading"></app-loader>
    <div *ngIf="!loading">
        <div *ngIf="!authorizationParameters">
            <configcat-authorization (error)="error($event)" (authorized)="login($event)">
            </configcat-authorization>
        </div>
        <div *ngIf="authorizationParameters" class="unauthorize">
            <h3>Authorized</h3>
            <div>Email: <strong>{{authorizationParameters.email}}</strong></div>
            <div>Basic auth user name: <strong>{{authorizationParameters.basicAuthUsername}}</strong></div>
            <div class="actions">
                <button mat-flat-button color="primary" (click)="unauthorize()">Unauthorize</button>
                <button mat-stroked-button [routerLink]="['/']">Go to feature flags</button>
            </div>
        </div>
    </div>
</div>