<div class="auth">
  @if (!authorizationParameters) {
    <div class="tip">
      <h2>About ConfigCat</h2>
      <p class="desc">
        <a href="https://configcat.com/" target="_blank">ConfigCat</a>
        is a feature management service. It allows you to turn ON/OFF features of your software using a visual
        dashboard.
      </p>
      <p class="desc">A tool created by developers for development teams with ❤️.</p>
      <p class="desc">
        Read more about ConfigCat at
        <a href="https://configcat.com/" target="_blank">https://configcat.com</a>
        .
      </p>
      <p class="desc">
        Need help with the ConfigCat Feature Flags monday.com app? Read more at
        <a href="https://configcat.com/docs/integrations/monday" target="_blank">the documentation</a>
        .
      </p>
      <p class="desc">
        New to ConfigCat?
        <a href="https://app.configcat.com/signup" target="_blank">Sign up</a>
        for a forever free account to get started.
      </p>
    </div>
  }

  <h2>Authorize ConfigCat Feature Flags</h2>

  @if (loading) {
    <configcat-monday-loader />
  }
  @if (!loading) {
    <div>
      @if (!authorizationParameters) {
        <div>
          <app-authorization (error)="error($event)" (authorized)="login($event)" />
        </div>
      }
      @if (authorizationParameters) {
        <div class="unauthorize">
          <h3>Authorized</h3>
          <div>
            Email:
            <strong>{{ authorizationParameters.email }}</strong>
          </div>
          <div>
            Basic auth user name:
            <strong>{{ authorizationParameters.basicAuthUsername }}</strong>
          </div>
          <div class="actions">
            <button type="button" color="primary" (click)="unauthorize()">Unauthorize</button>
            <button type="button" mat-stroked-button [routerLink]="['/']">Go back</button>
          </div>
        </div>
      }
    </div>
  }
</div>
