<app-loader *ngIf="loading"></app-loader>
<div class="container" *ngIf="!loading" id="setting-item">
    <div class="actions">
        Authorized as&nbsp;<b>{{authorizationParameters.email}}</b>&nbsp;
        <a class="link" [routerLink]="['/authorize']">Unauthorize</a>
    </div>
    <div class="actions">
        <button mat-stroked-button [routerLink]="['/createfeatureflag']">Create and link feature flag</button>
        <button mat-stroked-button [routerLink]="['/addfeatureflag']">Link existing feature flag</button>
    </div>
    <div *ngFor="let integrationLinkDetail of integrationLinkDetails">
        <configcat-setting-item [basicAuthUsername]="authorizationParameters.basicAuthUsername"
            [basicAuthPassword]="authorizationParameters.basicAuthPassword"
            [productId]="integrationLinkDetail.product?.productId ?? ''"
            [configId]="integrationLinkDetail.config?.configId || ''"
            [environmentId]="integrationLinkDetail.environment?.environmentId || ''"
            [settingId]="integrationLinkDetail.setting?.settingId || 0" [canEditSetting]=false
            (deleteSettingRequested)="onDeleteSettingRequested($event)" deleteSettingText="Remove from item"
            [showEnvironmentName]="true">
        </configcat-setting-item>
    </div>
</div>