.container {
    padding: 0 8px;
    margin: 8px;

    .actions {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 8px;

        button {
            margin-left: 8px;
        }

        .link {
            cursor: pointer;
        }
    }

}