@if (loading) {
  <configcat-monday-loader />
}
@if (!loading) {
  <div class="container" id="setting-item">
    <div class="auth">
      <div>
        Authorized as&nbsp;
        <b>{{ authorizationParameters.email }}</b>
        <br />
        <a class="link" [routerLink]="['/authorize']">Unauthorize</a>
      </div>
    </div>
    @if (integrationLinkDetails && integrationLinkDetails.length) {
      <div class="actions">
        <button type="button" mat-stroked-button [routerLink]="['/createfeatureflag']">
          Create and link feature flag
        </button>
        <button type="button" mat-stroked-button [routerLink]="['/addfeatureflag']">
          Link additional feature flag
        </button>
      </div>
    }
    @if (!integrationLinkDetails || !integrationLinkDetails.length) {
      <div class="empty">
        <div class="text">You have no linked feature flags.</div>
        <div class="buttons">
          <button type="button" mat-flat-button color="primary" [routerLink]="['/addfeatureflag']">
            Link existing feature flag
          </button>
          <span>or</span>
          <button type="button" mat-stroked-button [routerLink]="['/createfeatureflag']">
            Create and link feature flag
          </button>
        </div>
      </div>
    }
    @for (integrationLinkDetail of integrationLinkDetails; track integrationLinkDetail) {
      <div>
        @if (integrationLinkDetail.config.evaluationVersion === EvaluationVersion.V1) {
          <app-setting-item
            deleteSettingText="Unlink"
            [basicAuthUsername]="authorizationParameters.basicAuthUsername"
            [basicAuthPassword]="authorizationParameters.basicAuthPassword"
            [productId]="integrationLinkDetail.product?.productId ?? ''"
            [configId]="integrationLinkDetail.config?.configId || ''"
            [environmentId]="integrationLinkDetail.environment?.environmentId || ''"
            [settingId]="integrationLinkDetail.setting?.settingId || 0"
            [showEnvironmentName]="true"
            (deleteSettingRequested)="onDeleteSettingRequested($event)" />
        }
        @if (integrationLinkDetail.config.evaluationVersion === EvaluationVersion.V2) {
          <app-feature-flag-item
            deleteSettingText="Unlink"
            [basicAuthUsername]="authorizationParameters.basicAuthUsername"
            [basicAuthPassword]="authorizationParameters.basicAuthPassword"
            [productId]="integrationLinkDetail.product?.productId ?? ''"
            [configId]="integrationLinkDetail.config?.configId || ''"
            [environmentId]="integrationLinkDetail.environment?.environmentId || ''"
            [settingId]="integrationLinkDetail.setting?.settingId || 0"
            [showEnvironmentName]="true"
            (deleteSettingRequested)="onDeleteSettingRequested($event)" />
        }
      </div>
    }
    <div class="help">
      Need help? Read more at &nbsp;
      <a href="https://configcat.com/docs/integrations/monday" target="_blank">the documentation</a>
      .
    </div>
  </div>
}
