.container {
    margin: 16px;

    .header {
        font-size: large;
        margin-top: 16px;
    }

    .form {
        .container {

            >* {
                width: 100%;
            }
        }
    }

    .buttons {
        margin-bottom: 16px;

        >* {
            margin-right: 16px;
        }
    }
}