<div class="container">
  <div class="header">
    <h2>Link existing ConfigCat feature flag</h2>
    <p>The ConfigCat feature flag you select here will be linked to this monday item.</p>
  </div>
  @if (loading) {
    <app-loader />
  }
  @if (!loading) {
    <app-link-feature-flag
      addButtonLabel="Link"
      cancelButtonLabel="Go back"
      [hideCancelButton]="false"
      [authorizationParameters]="authorizationParameters"
      (cancelInitiated)="cancel()"
      (linkInitiated)="add($event)" />
  }
</div>
